<h1><%= title%></h1>

<p><%= subtitle%></p>

<h2>Recipe title: <%= name %></h2>

<h2>Ingredients</h2>
<pre><%= ingredients %></pre>

<h2>Directions</h2>
<pre><%= directions %></pre>

<p><a href="/recipes">Return to the recipes list</a></p>